/user-service/target/
/common-core/target/
/common-security/target/
/common-datasource/target/
/common-feign/target/
/search-service/target/
/norify-service/target/
/gateway/target/
/auth-service/target/
/file-service/target/
/.idea/
/.log/
/.git/
/sys-admin/.vscode/
/sys-admin/node_modules/
